src/flows/Article_Vote_Info-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setAll</name>
        <label>setAll</label>
        <locationX>484</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>allChannels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisArticleVote.NormalizedScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopArticleVotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setApp</name>
        <label>setApp</label>
        <locationX>472</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>inApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisArticleVote.NormalizedScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopArticleVotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCustomer</name>
        <label>setCustomer</label>
        <locationX>470</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>inCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisArticleVote.NormalizedScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopArticleVotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPartner</name>
        <label>setPartner</label>
        <locationX>478</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>inPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisArticleVote.NormalizedScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopArticleVotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPublic</name>
        <label>setPublic</label>
        <locationX>466</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>inPublic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisArticleVote.NormalizedScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopArticleVotes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>whatChannel</name>
        <label>whatChannel?</label>
        <locationX>206</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>LoopArticleVotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisArticleVote.Channel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AllChannels</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAll</targetReference>
            </connector>
            <label>isAll</label>
        </rules>
        <rules>
            <name>isPublic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisArticleVote.Channel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pkb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPublic</targetReference>
            </connector>
            <label>isPublic</label>
        </rules>
        <rules>
            <name>isApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisArticleVote.Channel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setApp</targetReference>
            </connector>
            <label>isApp</label>
        </rules>
        <rules>
            <name>isCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisArticleVote.Channel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Csp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCustomer</targetReference>
            </connector>
            <label>isCustomer</label>
        </rules>
        <rules>
            <name>isPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisArticleVote.Channel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPartner</targetReference>
            </connector>
            <label>isPartner</label>
        </rules>
    </decisions>
    <interviewLabel>Article Vote Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Article Vote Info</label>
    <loops>
        <name>LoopArticleVotes</name>
        <label>LoopArticleVotes</label>
        <locationX>706</locationX>
        <locationY>15</locationY>
        <assignNextValueToReference>thisArticleVote</assignNextValueToReference>
        <collectionReference>articleVotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>whatChannel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Article_Vote_Statistics</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetArticleVersionData</name>
        <label>GetArticleVersionData</label>
        <locationX>177</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVoteData</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>articleId</assignToReference>
            <field>KnowledgeArticleId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetVoteData</name>
        <label>GetVoteData</label>
        <locationX>336</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopArticleVotes</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>articleId</elementReference>
            </value>
        </filters>
        <object>Knowledge__VoteStat</object>
        <outputReference>articleVotes</outputReference>
        <queriedFields>Channel</queriedFields>
        <queriedFields>NormalizedScore</queriedFields>
    </recordLookups>
    <screens>
        <name>Article_Vote_Statistics</name>
        <label>Article Vote Statistics</label>
        <locationX>957</locationX>
        <locationY>95</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VoteDataScreen</name>
            <fieldText>All Channels: {!allChannels}
In App: {!inApp}
Public: {!inPublic}
Customer: {!inCustomer}
Partner: {!inPartner}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetArticleVersionData</startElementReference>
    <variables>
        <name>allChannels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>articleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>articleVotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__VoteStat</objectType>
    </variables>
    <variables>
        <name>inApp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>inCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>inPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Empty</stringValue>
        </value>
    </variables>
    <variables>
        <name>inPublic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>thisArticleVote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__VoteStat</objectType>
    </variables>
</Flow>
